{% extends "panel/panel_base.html" %}
{% block content %}
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/principal">Panel principal</a></li>
                            <li class="breadcrumb-item active">Historia de paciente</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Ficha de <b>{{registro.paciente.nombre}}</b>
                            </div>
                            <div class="card-body">
                                <li><b>Nombre completo:</b> {{registro.paciente.nombre}} {{registro.paciente.apellido}}</li>
                                <li><b>Fecha de nacimiento:</b> {{registro.paciente.fecha_de_nacimiento}}</li>
                                <li><b>C.I.:</b> {{registro.paciente.numero_CI}}</li>
                                <li><b>Numero de contacto:</b> {{registro.paciente.numero_contacto}}</li>
                                <li><b>Motivo de ultima consulta:</b> {{registro.paciente.motivo_consulta}}</li>
                                <br>

                                <!--<li><b><a href>Historia clinica</Agregar></b></li>-->
                                    <a href="/principal/hc-panel/hc-create"><button class="btn btn-primary" type="submit" >Nuevo registro</button></a>
                                    <a href="/principal/paciente-update/{{registro.paciente.pk}}"><button class="btn btn-primary" type="submit" >Actualizar datos</button></a>
                                    <a href="/principal/paciente-delete/{{registro.paciente.pk}}"><button class="btn btn-primary" type="submit" >Eliminar</button></a>
                                    <a href="javascript:history.back()"><button class="btn btn-secondary" type="submit" >Atras</button></a>
                            </div>

                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Sesion del {{registro.fecha}} <a href="/principal/paciente-ficha/{{registro.paciente.pk}}">Ver todas</a>
                            </div>
                            <div class="card-body">

                                {{object.contenido}}
                                {% if object.image %} 
                                <br><img height="255" src="{{object.image.url}}"/>
                                {% endif %}
                                <br><br><b>Responsable: {{object.firma}}</b>
                                
                            </div>
                        </div>
                    </div>
                    
                
{% endblock %}
