{% extends "panel/panel_base.html" %}
{% block content %}
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/principal">Panel principal</a></li>
                            <li class="breadcrumb-item active">Historia de paciente</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Ficha de {{paciente.nombre}}
                            </div>
                            <div class="card-body">
                                <li>Nombre completo: {{object.nombre}} {{object.apellido}}</li>
                                <li>Fecha de nacimiento: {{object.fecha_de_nacimiento}}</li>
                                <li>CI: {{object.numero_CI}}</li>
                                <li>Numero de contacto: {{object.numero_contacto}}</li>
                                <li>Motivo de ultima consulta: {{object.motivo_consulta}}</li>
                                <br>

                                <!--<li><b><a href>Historia clinica</Agregar></b></li>-->
                                    <li><b><a href="/principal/paciente-update/{{paciente.pk}}">Actualizar datos</a></b></li>
                                    <li><b><a href="/principal/paciente-delete/{{paciente.pk}}">Eliminar</a></b></li>

                                <br><a href="javascript:history.back()"> Volver Atrás</a>
                            </div>

                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Sesion del {{registro.fecha}}
                            </div>
                            <div class="card-body">

                                {{object.contenido}}
                                <br><br><b>Responsable: {{object.firma}}</b>
                                
                            </div>
                        </div>
                    </div>
                    
                
{% endblock %}
