{% extends "panel/panel_base.html" %}
{% block content %}


                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/principal">Panel principal</a></li>
                            <li class="breadcrumb-item active">Nuevo registro</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Registrar historia clinica
                            </div>
                            <div class="card-body">
                                <form enctype='multipart/form-data' method="post">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <button class="btn btn-primary" type="submit" >Guardar</button>
                                </form>

                                <br><a href="javascript:history.back()"> Volver Atrás</a>
                            </div>

                            
                        </div>
                    </div>
                    
                

{% endblock %}
