{% extends "panel/panel_base.html" %}
{% block content %}
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/principal">Panel principal</a></li>
                            <li class="breadcrumb-item active">Historia clinica</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Registros</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/principal/hc-panel">Ocultar</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Nuevo registro</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/principal/hc-panel/hc-create">Agregar</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            
                               

                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    Registros   
                                </div>
                                <table class="table">
                                    <tr>                                    

                                        <th>Fecha</th>
                                        <th>Paciente</th>
                                        <th>Tratamiento</th>
                                        <th>Firma</th>
                                        <th>Accion</th>

                                    </tr>                                    
                                
                                <div class="card-body">                                    
                                    
                                    <ul>
                                        
                                        {% for registro in object_list %}
                                        <tr>
                                            <td><li>{{registro.fecha}}</li></td>
                                            <td>{{registro.paciente.nombre}} {{registro.paciente.apellido}}</td>
                                            <td>{{registro.resumen}}</td>
                                            <td>{{registro.user}}</td>
                                            <td><a href="/principal/hc-panel/hc-detail/{{registro.pk}}"><button class="btn btn-primary" type="submit" >Ver detalle</button></a></td> 
                                        </tr>
                                        {% endfor %}
                                    
                                    </ul>
                                </table>

                                <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                        {% endif %}
                            
                                        <span class="current">
                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                        </span>
                            
                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>  
                
{% endblock %}
