{% extends "panel/log_base.html" %}
{% block content %}


                                        <center><h4>La sesión fue cerrada con éxito</h4><br>
                                            <a href="/principal/login"><button class="btn btn-primary" type="submit" >Ingresar</button></a>
                                            <div class="small"><br><a href="/nombre-de-clinica">Página principal</a></div></center>
                                            
                                    
{% endblock %}