{% extends "panel/log_base.html" %}
{% block content %}


                                        <center><h4>La sesión fue cerrada con éxito</h4><br>
                                            <button type="submit"><a href="/principal/login">Ingresar</a></button>
                                            <div class="small"><br><a href="/principal/signup">Registrar nuevo usuario</a></div></center>
                                            
                                    
{% endblock %}