{% extends "panel/panel_base.html" %}
{% block content %}

                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/principal">Panel principal</a></li>
                            <li class="breadcrumb-item active">Ficha de paciente</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Ficha de {{paciente.nombre}}
                            </div>
                            <div class="card-body">
                                ¿Está seguro de eliminar la ficha del paciente <b>{{paciente.nombre}} {{paciente.apellido}}</b>? 
                                    <form method="post">
                                        {% csrf_token %}
                                        {{form}}
                                        <br><input class="btn btn-primary" type="submit" value="Confirmar">
                                    </form>
                                <br>

                                                              
                                <a href="javascript:history.back()"> Volver Atrás</a>
                            </div>

{% endblock %}
