{% extends "panel/panel_base.html" %}
{% block content %}

                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/principal">Panel principal</a></li>
                            <li class="breadcrumb-item active">Ficha de paciente</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Ficha de <b>{{paciente.nombre}}</b>
                            </div>
                            <div class="card-body">
                                <li><b>Nombre completo:</b> {{object.nombre}} {{object.apellido}}</li>
                                <li><b>Fecha de nacimiento:</b> {{object.fecha_de_nacimiento}}</li>
                                <li><b>C.I.:</b> {{object.numero_CI}}</li>
                                <li><b>Numero de contacto:</b> {{object.numero_contacto}}</li>
                                <li><b>Motivo de ultima consulta:</b> {{object.motivo_consulta}}</li>
                                <br>

                                <!--<li><b><a href>Historia clinica</Agregar></b></li>-->
                                    <a href="/principal/hc-panel/hc-create"><button class="btn btn-primary" type="submit" >Nuevo registro</button></a>
                                    <a href="/principal/paciente-update/{{paciente.pk}}"><button class="btn btn-primary" type="submit" >Actualizar datos</button></a>
                                    <a href="/principal/paciente-delete/{{paciente.pk}}"><button class="btn btn-primary" type="submit" >Eliminar</button></a>
                                    <a href="javascript:history.back()"><button class="btn btn-secondary" type="submit" >Atras</button></a>                                  

                                
                            </div>

                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Historial de sesiones 
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Resumen</th>
                                        <th>Accion</th>
                                                                                
                                    </tr>

                             
                                {% for paciente in paciente.registros.all %}
                                <tr>
                                <td><li><b>{{paciente.fecha}}</b></td>
                                <td> {{paciente.resumen}}</td>
                                <td><a href="/principal/hc-panel/hc-detail/{{paciente.pk}}">Ver detalle</a></li></td>
                                </tr>

                                {% endfor %}
                            </table> 
                                                                    
          
{% endblock %}
