{% extends "panel/panel_base.html" %}
{% block content %}



                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/principal">Panel principal</a></li>
                            <li class="breadcrumb-item active">Lista de pacientes</li>
                        </ol>

                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Nuevo paciente</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/principal/paciente-create">Agregar ficha</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Pacientes
                        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" 
                                action="{% url 'paciente-search' %}" method="get">
                                    {% csrf_token %}
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Busqueda por nombre..." aria-label="Search for..."
                                 aria-describedby="btnNavbarSearch" name="nombre"/>
                               
                                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form> <a href='/principal/paciente-list'>Ver todos</a>
                       
                        <table class="table">
                            <tr>
                                <th>C.I.</th>
                               
                                <th>Nombre</th>

                                <th>Acciones</th>
                                                                        
                            </tr>
                         {% for paciente in object_list %}
                         <tr>
                                <ul>
                                    <td> <br><li> {{paciente.numero_CI}} </td>
                                        <td> <br><li> {{paciente.nombre}} {{paciente.apellido}}</td>
                                        <td><a href='/principal/paciente-ficha/{{paciente.pk}}'><button class="btn btn-primary" type="submit" >Ver ficha</button></a>
                                        <a href='/principal/paciente-delete/{{paciente.pk}}'><button class="btn btn-secondary" type="submit" >Eliminar</button></a></td>                                      
                                        </li>
                                    </tr>                                           
                                    
                                </ul>
                                {% endfor %}
                            </table>                            
  
                                    <div class="pagination">
                                        <span class="step-links">
                                            {% if page_obj.has_previous %}
                                                <a href="?page=1">&laquo; first</a>
                                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                            {% endif %}
                            
                                            <span class="current">
                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>
                            
                                            {% if page_obj.has_next %}
                                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                        
                                        
                                    </div>
                                    <br><a href='/principal'><button class="btn btn-secondary" type="submit" >Atras</button></a>
                                </div>
                            </div>
                        </div>
                    
                
                
                {% endblock %}
                
