<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sistema Gestión de Pacientes</h1>
    <h2>Proyecto final curso Python-Coderhouse</h2>
    <br>
    <p>
        El presente trabajo pretende ser el puntapié inicial para el desarrollo de una aplicación que sea utilizable en la práctica 
        por profesionales de la salud que desarrollen su actividad de forma autónoma y que normalmente no cuentan con este tipo 
        de herramientas. Siendo parte de ese grupo se me ocurrió, de esta manera, ofrecer un sistema que facilite la gestión de la tarea,
        centralizando toda la información en un solo lugar, de forma organizada y de fácil acceso. La practicidad de la aplicación perimitirá que pueda ser utilizada 
        tanto por aquellas personas que trabajen de forma individual como por pequeños grupos de trabajo, facilitando ciertas tareas 
        y permitiendo llevar un registro de la actividad. La idea es continuar desarrollando este proyecto más allá del curso para poder 
        ir mejorando de forma continua su funcionamiento y agregando nuevas funcionalidades.         
    </p>
        <b>Javier Deus - 12/11/2022</b>
    </p>
  



</body>
</html>